asgiref==3.8.1
certifi==2024.12.14
click==8.1.8
colorama==0.4.6
Django==5.1.4
django-filter==24.3
django-js-asset==3.0.1
django-mptt==0.16.0
django-mptt-admin==2.7.2
environ==1.0
gunicorn==23.0.0
h11==0.14.0
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.3.0
