asgiref==3.5.2
certifi==2024.7.4
click==8.1.7
Django==4.1.7
django-filter==22.1
django-js-asset==2.0.0
django-mptt==0.14.0
django-mptt-admin==2.3.0
environ==1.0
h11==0.14.0
pillow==10.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sentry-sdk==2.11.0
sqlparse==0.4.3
tzdata==2022.6
urllib3==2.2.2
gunicorn==22.0.0
