
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
{% extends 'app_megano/base.html' %}
{% load static %}
{% block header %}
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
<head>
  {% load static %}
  <title>Order</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
  <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
  <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  {{ block.super }}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Прогресс заполнения
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <form class="form" method="post" action="">
            {% csrf_token %}
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя
                </h2>
              </header>
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="{{ form.full_name.id_for_label }}">{{ form.full_name.label }}</label>{{form.full_name}}
                  </div>
                  <div class="form-group">
                      <label class="form-label" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>{{form.phone}}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>{{form.email}}
                  </div>
                </div>
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>{{form.password}}
                  </div>
                  <div class="form-group">
                      <label class="form-label" for="{{ form.passwordReplay.id_for_label }}">{{ form.passwordReplay.label }}</label>{{form.passwordReplay}}
                  </div>
                  <div class="form-group"><a class="btn btn_muted Order-btnReg" href="{% url 'login' %}">Я уже зарегистрирован</a>
                  </div>
                </div>
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step2">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 2. Способ доставки
                </h2>
              </header>
              <div class="form-group">
                <div>
                  <label class="toggle" for="{{ form.type_delivery.id_for_label }}">{{ form.type_delivery.label }}</label>{{form.type_delivery}}
                </div>
              </div>
              <div class="form-group">
                  <label class="form-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>{{form.city}}
              </div>
              <div class="form-group">
                  <label class="form-label" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>{{form.address}}
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step3">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 3. Способ оплаты
                </h2>
              </header>
              <div class="form-group">
                <div>
                    <label class="toggle" for="{{ form.type_payment.id_for_label }}">{{ form.type_payment.label }}</label>{{form.type_payment}}
                </div>
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step4" type="submit">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                </h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">ФИО:
                        </div>
                        <div class="Order-infoContent">{{form.full_name.value}}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Телефон:
                        </div>
                        <div class="Order-infoContent">{{ form.phone.value }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">E-mail:
                        </div>
                        <div class="Order-infoContent">{{ form.email.value }}
                        </div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:
                        </div>
                        <div class="Order-infoContent">{{ form.type_delivery.value }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Город:
                        </div>
                        <div class="Order-infoContent">{{ form.city.value }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Адрес:
                        </div>
                        <div class="Order-infoContent">{{ form.address.value }}
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:
                        </div>
                        <div class="Order-infoContent">{{ form.type_payment.value }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                  {% for goods in cart %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="{% url 'detail' goods.product.id %}"><img class="Cart-img" src="{{ goods.product.image.url }}" alt="card.jpg"/></a>
                      </div>
                      <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'detail' goods.product.id %}">{{ goods.product.name }}</a>
                        <div class="Cart-desc">{{ goods.product.description|slice:"50"}}
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{ goods.product.price }}₽
                        </div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{ goods.quantity }} шт
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">Итого:
                      </strong><span class="Cart-price">{{ cart.get_total_price }}₽</span>
                    </div>
                    <div class="Cart-block">
                      <button class="btn btn_primary btn_lg" type="submit">Оплатить
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}
{% block footer %}
{{ block.super }}
</body>
</html>
{% endblock footer %}
