<html>
<body>
  {% extends 'app_megano/base.html' %}
  {% load static %}
  {% block header %}
  {{ block.super }}
    <div class="Middle">
    <div class="Section">
      <div class="wrap">
        <header class="Section-header Section-header_sm">
            <h2 class="Section-title">Вход
            </h2>
        </header>
              <form method="post">
                {% csrf_token %}
                <p class="form-label"><label class="form-input">{{ form.username.label }}</label>{{form.username}}</p><br>
                <p class="form-label"><label class="form-input">{{ form.password.label }}</label>{{form.password}}</p><br>
                {{ form.errors.username }}
                <button class="btn btn_primary" type="submit">Войти</button>
              </form><br>
          <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
      </div>
  </div>
{% endblock header %}
{% block footer %}
{{ block.super }}
  </div>
</body>
</html>
{% endblock footer %}
