<html lang="ru">
<body>
  {% extends 'app_megano/base.html' %}
  {% load static %}
  {% block header %}
  {{ block.super }}
    <div class="Section">
        <div class="wrap">
        <header class="Section-header Section-header_sm">
            <h2 class="Section-title">Регистрация
            </h2>
        </header>
        <form id="creation" method="post">
                {% csrf_token %}
                <label class="form-label">{{ form.email.label }}:</label>{{form.email}}<br>
                <div>
                  {{ form.errors.email }}
                </div>
                <label class="form-label">{{ form.last_name.label }}:</label>{{form.last_name}}<br>
                <label class="form-label">{{ form.first_name.label }}:</label>{{form.first_name}}<br>
                <label class="form-label">{{ form.patronymic.label }}:</label>{{form.patronymic}}<br>
                <label class="form-label">{{ form.phone.label }}:</label>{{form.phone}}<br>
                <div>
                    {{ form.errors.phone }}
                </div>
                <label class="form-label">{{ form.password1.label }}:</label>{{form.password1}}<br>
                <div>
                   {{ form.errors.password1 }}
                </div>
                <label class="form-label">{{ form.password2.label }}:</label>{{form.password2}}<br>
                    <div>
                        {{ form.errors.password2 }}
                    </div>
                <div><br><br>
                    <button class="btn btn_primary" type="submit">Зарегистрироваться</button>
                </div>
            </form><br>
        </div>
    </div>
{% endblock header %}
{% block footer %}
{{ block.super }}
</body>
</html>
{% endblock footer %}
