<html>
<body>
  {% extends 'app_megano/base.html' %}
  {% load static %}
  {% block header %}
  {{ block.super }}
  <div id="header" class="Middle">
    <div class="Section Section_column Section_columnDesktop"  >
      <div class="wrap">
        <div class="Section-content">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item"><a class="menu-link" href="{% url 'account' %}">Личный кабинет</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'profile' %}">Профиль</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'historyorder' request.user.id %}">История заказов</a>
                  </li>
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'viewed' request.user.id %}">История просмотра</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
          <header class="Section-header">
            <h2 class="Section-title">Вы смотрели
            </h2>
          </header>
          <div class="Cards">
            {% if history_list %}
            {% for goods in history_list %}
            <div class="Card"><a class="Card-picture" href="{% url 'detail' goods.goods.id %}"><img src="{{ goods.goods.image.url }}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="{% url 'detail' goods.id %}">{{ goods.goods.name|slice:"35" }}{{ "..." }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">{{ goods.goods.price }}₽</span>
                  </div>
                  <div class="Card-category">{% for tag in goods.goods.tag.all %} {{ tag }} / {% endfor %}
                  </div>
                  <div class="Card-hover">
                    <button type="button" class="Card-btn" value="{{ goods.goods.id }}">
                      <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal__container">
  <div class="modal__content">
    <div id="myModal">
      <p class="modal__title">Товары в вашей корзине</p>
      {% for detail in cart %}
      <div class="content__block">
        <img width="60px" height="auto" class="Cart-img" src="{{ detail.product.image.url }}">
        <p class="modal__descr">{{ detail.product }}. ({{ detail.quantity }}шт.)</p>
      </div>
      {% endfor %}
    </div>
    <div class="modal__button__delete">
        <button class="button" type="button" id="close">Продолжить покупки</button>
        <a class="modal--link" href="{% url 'cart' %}">Перейти в корзину</a>
    </div>
  </div>
</div>
{% endblock header %}
{% block footer %}
{{ block.super }}
{% endblock footer %}
  </div>
</html>
