
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
{% extends 'app_megano/base.html' %}
{% load static %}
{% block header %}
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
<head>
  <title>Megano</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
  <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
  <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
  <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
{{ block.super }}
  <div id="header" class="Middle">
    <div class="Section Section_column Section_columnDesktop"  >
      <div class="wrap">
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">Вы смотрели
            </h2>
          </header>
          <div class="Cards">
            {% if history_list %}
            {% for goods in history_list|slice:"32" %}
            <div class="Card"><a class="Card-picture" href="{% url 'detail' goods.goods.id %}"><img src="{{ goods.goods.image.url }}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="{% url 'detail' goods.goods.id %}">{{ goods.goods.name|slice:"35" }}{{ "..." }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">${{ goods.goods.price }}</span>
                  </div>
                  <div class="Card-category">{% for tag in goods.goods.tag.all %} {{ tag }} / {% endfor %}
                  </div>
                  <div class="Card-hover">
                    <a href="{% url 'add' goods.goods.id %}" class="Card-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block footer %}
{{ block.super }}
{% endblock footer %}
</body>
</html>
